@import 'variables.styl'

body
    background-color: $bg-1
    line-height: 1.5
    font-size: 18px
    font-weight: 300

.content
    background-color: $bg-1

.logo
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-weight: 500
    font-size: 62px
    i
        display: block
        background-image: url(../images/swapsy-logo/logo.svg)
        background-repeat: no-repeat
        background-position: center
        background-size: 100%
        width: 62px
        height: 62px
        margin-right: 20px

.hero
    min-height: 600px
    position: relative
    padding-top: 200px
    background-image: url(../images/messi.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &:before
        display: block
        content: ''
        position: absolute
        bottom: 0
        left: 0
        height: 200px
        width: 100%
        background: linear-gradient(rgba(0,0,0,0),$bg-1)
    .center
        position: relative
        z-index: 200
        max-width: 600px
        margin: 0 auto
        .btn
            max-width: 200px
            margin: 0 auto

.info
    padding-bottom: ($spacing)

.text-centered
    text-align: center

.tagline
    text-align: center
    margin-bottom: $spacing*2 !important
    font-weight: 100
    color: rgba(255,255,255,0.5) !important
    strong
        color: #fff

.actions
    display: flex
    aling-items: center
    :first-child
        margin-right: 12px !important

h2
    font-size: 24px
    font-weight: 100 !important

h1
h2
h3
h4
    color: #fff !important
    margin-bottom: ($spacing/2) !important

p
    margin-bottom: $spacing
    + p
        margin-top: -($spacing/2)

swapsy-logo
    margin-bottom: $spacing
    font-size: 62px

.landing
    position: relative

.landing:before
    position: absolute
    bottom: -200px
    left: 0
    width: 100%
    height: 200px
    background: linear-gradient(rgba(0,0,0,0), $bg-1)
    display: block
    content: ''

.container
    max-width: 600px
    width: 100%
    margin: 0 auto
    position: relative
    z-index: 100

core-icon[icon="arrow-drop-down-circle"]
    color: #fff
    text-shadow: 0 1px 1px rgba(0,0,0,0.4)
    width: 42px
    height: 42px
    bottom: 24px
    left: 50%
    margin-left: -21px
    position: absolute
    animation: pulse 0.8s ease infinite

.nav
    position: fixed
    right: 48px
    height: 200px
    margin-top: -100px
    top: 50%
    z-index: 100

.nav i
    width: 16px
    height: 16px
    border-radius: 50%
    border: 1px solid rgba(255,255,255,0.6)
    transition: all 0.25s ease
    display: block
    margin-bottom: 12px
    cursor: pointer
    &:hover
        border-color: #fff

.nav .active
    background-color: #fff

.section-title
    font-size: 48px

.section-sub
    font-size: 18px

.section__content
    width: 100%
    max-width: 620px

.signup-title
    font-size: 32px !important
    margin-bottom: $spacing !important
    text-align: center

#form-wrap
    background-color: rgba(0,0,0,0.1)
    padding: 200px 0

.title
    font-size: 32px !important

.ss
    margin: ($spacing*2) 0
    height: 200px
    background-size: cover
    position: relative
    background-repeat: no-repeat

.ss--collection
    background-image: url(../images/landing-collection.png)

.ss--map
    background-image: url(../images/landing-map.png)

.ss--collections
    background-image: url(../images/landing-collections.png)

.ss--score
    background-image: url(../images/landing-score.png)
    background-size: 100%
    background-position: center

.ss--attend
    background-image: url(../images/landing-attend.png)
