@import 'variables.styl'
@import 'reset.styl'

*
    box-sizing: border-box

html
body
    height: 100%

body
    background: $bg-1
    color: $color
    font-family: $font
    font-size: 14px
    font-weight: $weight

h1
h2
h3
h4
    margin: 0
    color: #fff
    font-weight: 600
    margin-bottom: $spacing

strong
    font-weight: 500

.title
    font-weight: 100
    color: #fff
    font-size: 18px
    margin: 0
    margin-bottom: $spacing

.tiny-title
    font-size: 12px
    text-transform: uppercase
    margin-bottom: ($spacing/2)

a
    color: $blue
    &:hover
        text-decoration: none

img
    max-width: 100%

ul
    list-style: none

.text-centered
    text-align: center

.brand-ps
    color: $blue

.brand-xbox
    color: $green

.brand-nintendo
    color: $red

.helper
    color: $content-3
    font-size: 14px
    font-weight: $weight
    display: block

.container--small
    max-width: 520px

.fill
    min-height: 100%
    overflow: hidden

.fill--centered
    display: flex
    align-items: center
    justify-content: center

.fill--vertical
    flex-direction: column


// Grid

.row
    margin-left: -($spacing)
    overflow: hidden

.col
    width: 100%
    padding-left: $spacing
    float: left

.col--1of3
    width: 33.333333333%

// Buttons

.btn
    display: flex
    font-family: $font
    align-items: center
    justify-content: center
    text-align: center
    cursor: pointer
    font-weight: 600
    padding: 0 $spacing
    height: 40px
    color: #273A48
    text-transform: uppercase
    background: $secondary
    font-size: 13px
    border-radius: 2px
    text-decoration: none
    transition: all 0.25s ease
    border: 0

.btn--primary
    background: $primary
    color: #fff

.btn--block
    width: 100%

.btn--small
    height: 36px
    font-size: 12px
    width: 100%

.btn[disabled]
    background-color: rgba(255,255,255,0.1)
    color: rgba(255,255,255,0.2)
    cursor: default

.btn--secondary
    background: #fff
    color: #444

.btn--outline
    border: 1px solid $blue
    background: transparent
    color: #fff
    &:hover
        background: $blue
        color: #fff
        
// Forms

.form
    width: 100%
    max-width: 420px
    margin: 0 auto
    margin-bottom: ($spacing*2)

.form__label
    text-transform: uppercase
    font-size: 13px
    color: #fff
    display: block
    margin-bottom: ($spacing/4)

.form__group
    margin-bottom: $spacing

.form__action
    height: 40px

.checkbox
    user-select: none
    display: flex
    align-items: center
    transform: translateZ(0)
    overflow: hidden
    margin-bottom: ($spacing/2)
    transition: color 0.25s ease
    cursor: pointer
    font-size: 13px
    &:hover span
        color: rgba(255,255,255,0.8)
    span
        transition: color 0.25s ease
    input[type=checkbox]
        margin-right: ($spacing/2)
        -webkit-appearance: none
        width: 16px
        height: 16px
        background: $content-4
        transition: background 0.25s ease
        outline: 0
        border-radius: 2px
        float: left
        &:focus
            outline: 0

.checkbox input:checked + span
    color: #fff

.checkbox--ps input:checked
    background: $blue

.checkbox--xbox input:checked
    background: $green

.checkbox--nintendo input:checked
    background: $red

.input
    box-sizing: border-box
    width: 100%
    height: 40px
    background: none
    border: 1px solid $color
    padding: 0 $spacing
    transition: all 0.25s ease
    border-radius: 2px
    color: #fff
    font-family: $font
    font-size: 14px
    &:focus
        outline: 0
        border-color: $blue


// Z-index

swapsy-search
    position: relative
    z-index: 40
