$bg-1 = #073642
$bg-2 = #002B36

$content-1 = #93A1A1
$content-2 = #839496
$content-3 = #657B83
$content-4 = #586E75

$blue = #268BD2
$green = #859900
$red = #DC322F
$orange = #CB4B16
$pink = #D33682
$purple = #6C71C4
$brown = #916E00

$spacing = 24px
$size = 14px
$color = $content-1
$weight = 400
$font = 'Roboto', sans-serif

$primary = $blue
$secondary = #fefefe
